# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Local config - if this file contains default settings, remove it from here
.stylesentryrc.js

# VSCode Extension specific
/style-sentry-vscode/node_modules
/style-sentry-vscode/out/
/style-sentry-vscode/*.vsix
/style-sentry-vscode/.env

# document
PORTFOLIO.md
