# Exclude VSCode extension
style-sentry-vscode/

# Exclude tests
test/

# Exclude local config
.stylesentryrc.js

# Exclude common development files and directories
.git/
.gitignore
.DS_Store
npm-debug.log*
node_modules/
coverage/
